.todo-input {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  padding: 0 10px;
}

.add-todo-input {
  background: $light;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 30px;
  color: #647680;
  flex-basis: 300px;
  flex-grow: 2;
  font-size: 1em;
  height: 100%;
  margin: 0 15px;
  padding: 0 15px;
  &:focus {
    background: $ghost;
  }
}

.add-todo-button {
  flex: 1;
  border: 1px solid #e4e4e4;
  border-radius: 30px;
  color: $button-text-color;
  font-size: 0.9em;
  height: 100%;
  margin: 0;
  padding: 0 15px;
  transition: border .2s ease-in;
  &:hover,
  &:focus {
    border: 1px solid $action;
  }
  &:active {
    box-shadow: inset 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }
}

.todo-list {
  box-shadow: 0 1px 3px 1px rgba(0,0,0,0.1);
  list-style: none;
  margin: 20px 30%;
  .todo-list-item {
    align-items: center;
    background: $light;
    border-bottom: 1px solid #ddd;
    color: #4e5154;
    cursor: pointer;
    display: flex;
    font-size: 1.5em;
    height: 40px;
    padding: 15px;
    transition: background-color .15s ease-in;
    &:hover {
      background-color: darken($light, 2%);
    }
    span {
      display: inline-block;
    }
    .todo-id {
      margin-right: 15px;
    }
    .todo-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: break-word;
    }
  }
}

.todo-filter {
  .label {
    color: $button-text-color;
  }
  span, a {
    display: inline-block;
    margin: 0 2px;
  }
}

.todo-actions {
  margin-left: auto;
}

.todo-action {
  font-size: 0.6em;
  height: 24px;
  width: 24px;
  &.todo-complete {
    background: url('/react-playground/src/client/assets/svg/ic_check_box_black_24px.svg') no-repeat center;
    margin-right: 15px;
    opacity: 0.5;
  }
  &.todo-incomplete {
    background: url('/react-playground/src/client/assets/svg/ic_check_box_outline_blank_black_24px.svg') no-repeat center;
    margin-right: 15px;
    opacity: 0.5;
  }
  &.todo-remove {
    background: url('/react-playground/src/client/assets/svg/ic_close_black_24px.svg') no-repeat center;
    margin: 0 10px;
    opacity: 0.3;
  }
}

.help-text {
  color: $help;
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
}
