html, body {
  background: $light;
  font: 100% arial;
  margin: 0;
}

main {
  margin: 0 auto;
  padding: 10px;
}

section,
.section {
  padding: 15px 0;
}

// input
//--------------
input {
  &[type=search],
  &[type=text] {
    border: none;
    border-bottom: 1px solid #777;
    padding: 10px;
  }
}

button {
  background: $action;
  border: none;
  border-radius: 5px;
  color: $button-text-color;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px;
}


// List
//--------------
ul {
  padding: 0;
}

li {
  margin: 0;
  padding: 10px 0;
}
