html, body {
  background: $ghost;
  box-sizing: border-box;
  font: 100% arial;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  color: $focus;
  font-weight: lighter;
  text-align: center;
}

div, main, section {
  box-sizing: border-box;
}

main {
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}

a {
  color: $light-action;
  text-decoration: none;
}

footer {
  text-align: center;
}

section,
.section {
  padding: 15px 0;
}

// input
//--------------
input, button {
  &:focus {
    outline: none;
  }
}

button {
  background: transparent;
  border: none;
  color: $button-text-color;
  font-size: 0.9em;
  &:hover {
    cursor: pointer;
  }
}


// List
//--------------
ul {
  padding: 0;
}

li {
  margin: 0;
  padding: 10px 0;
}
